* {
  box-sizing: border-box;
}

h1, h2, section, p {
  font-family: 'Playfair Display', 'Didot', 'Baskerville', serif;
  color: #555;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
}

section {
  padding: 0 10px;
  margin-bottom: 20px;
}

h2 {
  position: absolute;
  top: 0;
  right: 0;
  margin: -1px -1px auto auto;
  padding: 0 2em;
  border-radius: 0 15px 0 3px;
  font-size: 1.75em;
  color: crimson;
}

p {
  width: 90%;
  margin: 0 auto 20px auto;
  font-size: 1.25em;
}

.content, h2 {
  border: 1px solid black;
  border-radius: 3px 15px 3px 3px;
}

/********** Setting colors for headers in each section **********/
.ravioli h2 {
  background: linear-gradient(to right bottom, white, limegreen);
}

.spaghetti h2 {
  background: radial-gradient(farthest-corner at -5% 15%, white, gold); 
}

.varenyky h2 {
  background: repeating-linear-gradient(to right, white, coral 50%, white 99%);
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin: 20px 0 20px 0;
}

.content {
  position: relative;
  padding-top: 40px;
  background: silver;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********* For setting offset on mobile devices ********/
@media (max-width: 767px) {
  .row {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}